.page{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif ;
}

.upper, .footer {
    background-color: #1f2937;
}

.upper{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 80px;
}

.link{
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
    text-decoration: none;
    align-self: center;
}
.link2{
    font-size: 18px;
    color: #E5E7EB;
}
.link3{
    font-size: 18px;
    color: #E5E7EB;
    flex-grow: 1;
    text-align: center;
    padding: 20px 0px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;
    padding: 8px;
    font-weight: bold;
    
}

.logo2{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    
}

.hero{
 font-size: 48px;
 font-weight: bolder;
 color: #F9FAF8;
}

.hero2 {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.main{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    gap: 60px;
    margin-bottom: 100px;
}


.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

.button1 {
    background-color: #3882F6;
    color: white;
    align-self: flex-start;
    text-align: center;
    border-radius: 8px;
    padding: 6px 25px;
    font-weight: bold;
    border: none;
    font-size: 18px;
    text-decoration: none;
}

.button2 {
    background-color: #3882F6;
    color: white;
    align-self: flex-start;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    width: 140px;
    height: 50px;
    padding: 6px 25px;
    font-weight: bold;
    border: solid;
    border-color: #E5E7EB;
}

.pic{
    font-size: 18px;
    color: #E5E7EB;
    background-color: grey ;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
}

.mid-1{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-self: center;
    margin: 50px;
}

.mid-2{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-bottom: 300px;
}

.mid-3{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;

    }

.mid-4{
        display: flex;
        background-color: #3882F6;
        justify-self: center;
        border-radius: 10px;
        margin-bottom: 100px;
        padding: 40px 100px;

}

.box-text{
    display: flex;
    flex-direction: column;
    max-width: 180px;
    align-items: center;
}

.box{
    height: 180px;
    width: 180px;
    border: 5px;
    border-color: #3882F6;
    border-style: solid ;
    border-radius: 16px;
}

.box.a{
    max-width: 190;
}

.thor{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    min-width: 910px;
    display: flex;
    align-self: center;
    justify-content: right;
    }



.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    max-width: 910px;
    align-self: center;
    
}

.blue1{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blue2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

}